.row-alignment {
  display: flex;
  justify-content: flex-end;
}
.items {
  font-weight: 500;
  color: var(--blue);
}

.price {
  font-weight: 500;
  color: var(--blue);
}

.total {
  font-weight: 700;
  color: var(--green);
}