.item {
  height: 650px;
  width: 100%;
}

.link {
  color: var(--orange) !important;
  border: solid 1px var(--orange);
  padding: 5px 8px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.link:hover {
  color: #fff !important;
  background-color: var(--orange);
}

.total {
  color: var(--blue);
}