.box-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.25rem;
}

.item {
  height: 650px;
  width: 100%;
}

.edit {
  color: var(--orange) !important;
  border: solid 1px var(--orange);
  padding: 5px 8px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.edit:hover {
  color: #fff !important;
  background-color: var(--orange);
}

.delete {
  font-weight: normal !important;
  color: var(--red) !important;
  border: solid 1px var(--red) !important;
  padding: 5px 8px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.delete:hover {
  color: #fff !important;
  background-color: var(--red) !important;
}

.total {
  color: var(--blue);
}