.item {
  height: 650px;
  width: 100%;
}

.select {
  width: 300px;
}

.link {
  color: var(--blue);
  border: solid 1px var(--blue);
  padding: 5px 8px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.link:hover {
  color: #fff;
  background-color: var(--blue);
}
