.box {
  width: 380px;
  padding: 10px 20px;
}

.title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

.register-link {
  display: flex;
  justify-content: flex-end;  
  color: var(--blue);
}

.social-accounts {
  display: flex;
  flex-direction: column;
}

.social-accounts-divider {
  width: 100%;
  margin-bottom: 1rem;
}

.social-accounts-button {
  margin-bottom: 1rem;
}

.register-link:hover {
  text-decoration: underline;
}
